body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
  margin-bottom: 200px;
}
 /* forms */
.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.imageheader{
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.gap{
  height: 500px;
}

/* customize buttons */
.btn{
  background-color: rgb(245, 139, 0);
  color: #000;
}
.btn1{
  margin-bottom: 60px;
  border-radius: 10px;
  border: transparent;
  height: 40px;
  width: 350px;
  margin-left:20%;
  background-color: rgb(245, 139, 0);
  color: white;
  font-weight: 600;
}
.btn-remove{
  background-color: rgb(208, 1, 1);
  margin-bottom: 20px;
  margin-top: 30px;
  color: white;
  border: transparent;
  height: 40px;
  width: 100px;
  border-radius: 6px;

}
.buttonUpdate{
  margin-bottom: 60px;
  border-radius: 10px;
  border: transparent;
  height: 40px;
  width: 150px;
  margin-left:50px;
  background-color: rgb(245, 139, 0);
  color: white;
  font-weight: 600;
}

.continueButton{
  margin-top: 50px;
  margin-bottom: 60px;
  border-radius: 10px;
  border: transparent;
  height: 40px;
  width: 150px;
  margin-left:500px;
  background-color: rgb(245, 139, 0);
  color: white;
  font-weight: 600;
}

/* customize containers */

.container1{
    margin-top: 50px;
    margin-bottom: 50px;
    border: transparent;
    border-radius: 2px;
    width: 500px;
    height: auto;
    display: inline-block;
    margin-left: 30%;
    margin-right: auto;
    background-size: 100% 100%;
    background-color: rgb(255, 244, 240);
    
  }
  .container2{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid  #1b1b1c;
    border-radius: 2px;
    width: 500px;
    height: auto;
    display: inline-block;
    margin-left: 60%;
    margin-right: auto;
    background-size: 100% 100%;
    align-content: center;
      
    }

  .container-view{
      width: 1100px;
      height: auto;
      margin-top: 50px;
      margin-bottom: 100px;
      background-color: rgb(255, 244, 240);
    }

  /* customize strong */
  strong{
      margin-left: 50px;
      margin-bottom: 50px;
    }
  

 .link-update{
  color:white;
  font-weight: 500;
 }
 .col{
  margin-left: 100px;
 }

.list-result{
    margin-top: 50px;
  }
.alert {
    color: rgb(208, 1, 1);
    font-size:10px;
    margin-left:20%;
    padding:5px;
    font-weight: bold;
    
  }

  /* customize lines */
.line{
    width: 500px;
    height: 0px;
    border-bottom: 10px solid rgb(245, 139, 0);
    position: absolute;
    }
.line-view{
      width: 1100px;
      height: 0px;
      border-bottom: 10px solid rgb(245, 139, 0);
      position: absolute;
      } 

  /* form items     */

  .form-label{
    margin-left:20%;
    font-size: small;
    font-weight:600;
  }
  .form-control{
    width: 350px;
    margin-left:20%;
  }
  .row1{
    width: 350px;
    margin-left:20%;
  }
  .card-title{
    margin-left: 60%;
    color: black;
    font-size: medium;
  }

/* navbar items */


  .navbar{
    background-color: black;
  }

  .navbar-brand{
    color: rgb(245, 139, 0);
  }

  .nav-link{
    color: rgb(255, 252, 251);
  }

 /* search box */
  .searcharea{
    margin-left: 10px;
    margin-top: 50px;
  }

/* Heading titles */
h1{
  margin-top: 40px;
  margin-left: 300px;
}

.heading{
  margin-top: 10px;
  margin-left: 50px;
  color: rgb(245, 139, 0);
}